<div [hidden]="submitted">
    <h1>Sign Up Form</h1>
    <!--<div>{{diagnostic}}</div>-->
    <form #animalform="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">UserName</label>
        <input type="text" class="form-control" id="name" required
        [(ngModel)]="user1.name" name="name" placeholder="full name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
     class="alert alert-danger">
  Name is required
</div>
      </div>
 
      <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" required>
    <option *ngFor="let g of gender" [value]="g">{{g}}</option>
  </select>

  <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" required
         placeholder="age">
      </div>
     <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" required
         placeholder="example: jainutkarsh567">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" required
         placeholder="min. 8 character">
      </div>
      <div class="form-group">
        <label for="cnfpassword">Confirm-Password</label>
        <input type="text" class="form-control" id="cnfpassword" required
         placeholder="same as above">
      </div>
 </div>
      <button type="submit" class="btn btn-success" [disabled]="!animalform.form.valid">Submit</button>
 
    </form>
    <button type="button" class="btn btn-default" (click)="newUser();animalform.reset()">New User</button>
</div>
<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9">{{ user1.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Username</div>
    <div class="col-xs-9">{{ user1.username }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Age</div>
    <div class="col-xs-9">{{ user1.age}}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Gender</div>
    <div class="col-xs-9">{{ user1.gender}}</div>
  </div>
  
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>